.App {
  text-align: center;
}

.form-wrapper {
  margin: 150px auto;
  width: 80%;
}

.form-wrapper .input {
  width: 400px;
}

.form-wrapper .btn {
  width: 100px;
  height: 55px;
}

.cards {
  background: red;
  width: 80%;
  height: 100vh;
}