.App {
  text-align: center;
}

.form-wrapper {
  margin: 150px auto;
  width: 80%;
}

.form-wrapper .input {
  width: 400px;
}

.form-wrapper .btn {
  width: 100px;
  height: 55px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  height: 100vh;
  gap: 2em;
}

.card {
  width: 300px;
  height: 300px;
}
